.definition-tooltip {
  border-bottom: 1px dotted black;
}

.definition-tooltip .definition-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 7px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.definition-tooltip:hover .definition-tooltiptext {
  visibility: visible;
}