body {
	font-family:Arial, Helvetica, sans-serif;
	padding-left: 3px;
	padding-top: 7px;
	background-color:white;
}

#div_search_bar {
	margin:3px;
	position: fixed;
	padding:4px;
	padding-top:8px;
	padding-bottom:8px;
	background-color: #444444;
	width: 840px;
	z-index: 1000;
}

#div_auto {
	position: fixed;
	left: 63px;
	width:410px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding-left:4px;
	margin-top:1px;
	z-index: 1000;
	box-shadow: 3px 3px 3px #888888;
}

div.tag-suggestions {
	position: absolute;
	left: 238px;
	width:350px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding-left:4px;
	box-shadow: 3px 3px 3px #888888;
}

#div_items {
	margin-top:54px;
}

#div_index {
	background-color: #dddddd;
}

/*
.item {
	width: 840px;
	margin: 3px;
	padding-left: 7px;
	padding-bottom: 2px;
}
*/

.item {
	width: 840px;
	margin: 3px;
	padding-left: 0px;
	padding-bottom: 2px;
}

.itemdata {
	min-height: 26px;
}

.subitemdata {
	margin: 3px;
	border: 0px;
	border-style: solid;
	min-height: 26px;
	border-left: solid 1px #CCCCCC;
}

/*
.highlight {
	background-color:#ddddee;
}
*/

.no-highlight {
	display:none;
}

.selected-item {
	background-color:#eeffee;
	box-shadow: 5px 5px 5px #888888;
}

.moused-tag {
	color: blue;
	font-weight: bold;
}

.data {
	padding:3px;
}

.odd-item {
	background-color:#dedede;
	border: 2px solid #dedede;
}

.even-item {
	background-color:#ffffff;
	border: 2px solid #ffffff;
}

.moused {
	border: 2px solid black;
	box-shadow: 3px 3px 3px #888888;
}

.moused-selected {
	border: 2px solid green;
}

.tags {
	width: 100%;
	padding: 3px;
	background-color: #bbeebb;
}

#search_input {
	position: relative;
}

.selected-suggestion {
	background-color:#AAAAAA;
}

.selected-tag-suggestion {
	background-color:#AAAAAA;
}

code {
	display:block;
	background:#555555; /*#F8F8FF;*/
	color:white;
	border:black dashed 1px; 
	padding:6px;
}​