.items-list {
    margin: 10px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 24fr;
    grid-gap: 0px;
    grid-column-gap: 0px;
    max-width: 1000px;
    margin: 0 0 10px;
    border: 1px solid #dddddd;
    background-color: white;
}

.subitem {
    grid-column-end: 40;
    margin: 0;
    padding: 7px;
    border: 1px solid #ffffff;
    overflow-wrap: anywhere;
}

.subitem:hover {
    /* background-color: cornflowerblue; */
    border: 1px solid darkgray;
}

.subitem-lhs1 {
    /*background-color: aqua; */
    margin: 0 0 10px;
    width: 20px;
}

.subitem-lhs2 {
    /*background-color: greenyellow;*/
    margin: 8px;
    width: 20px;
}

.subitem-lhs3 {
    /*background-color: greenyellow;*/
    margin: 8px;
    width: 10px;
}

.arrow {
    opacity: 0.3;
    width: 32px;
    margin-top: 7px;
    margin-left: 5px;
}

.arrow:hover {
    opacity: 1;
    cursor: pointer;
}