.items-list {
    margin: 10px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 24fr;
    grid-gap: 0px;
    grid-column-gap: 0px;
    max-width: 1000px;
    margin: 0 0 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #dddddd;
    background-color: white;
}

.subitem {
    grid-column-end: 40;
    margin: 0;
    padding: 5px 3px;
    border: 1px solid #ffffff;
    overflow-wrap: anywhere;
}

.subitem-redacted {
    background-color: #cccccc;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 5px;
}

.subitem-selected {
    background-color: lightblue;
}

.subitem-action{
    background-color: lightgreen;
}

.subitem:hover {
    /* background-color: cornflowerblue; */
    border: 1px solid darkgray;
}

.subitem-outline-slot {
    /*background-color: aqua; */
    margin: 0 0 10px;
    width: 20px;
}

.subitem-todo-or-done-slot {
    /*background-color: greenyellow;*/
    margin-top: 6px;
    margin-bottom: 6px;
    width: 20px;
}

.subitem-list-bulleted-slot {
    margin: 6px;
    width: 10px;
}

.subitem-list-numbered-slot {
    margin: 6px;
    width: 20px;
    text-align: right;
}

.arrow {
    opacity: 0.3;
    width: 32px;
    margin-top: 4px;
    margin-left: 5px;
}

.arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.redacted {
    opacity: 0.3;
}