#suggestions {
    display: none; /* Initially hidden */
    position: fixed;
    top: 69px; /* Fixed position 80px from the top */
    left: 35px; /* Aligns with the left edge of the search bar, adjust as needed */
    right: 10px; /* Aligns with the right edge of the search bar, adjust as needed */
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 101; /* Above the sticky-top element */
    width: 450px;
    box-sizing: border-box;
    border-radius: 5px;
    /*
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    */
}

.suggestion {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #eee;
}
