.tool-bar {
    background-color: #777777;
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 7px;
}

/* https://stackoverflow.com/questions/63846699/how-do-i-keep-the-selected-button-highlighted */
.activeBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 25px;
    border-radius: 6px;
    width: 60px;
}

.btnDeactivated {
    background-color: white!important;
    color: black!important;
    border: 2px solid #008CBA!important;
}

.btnDeactivated:hover {
    background-color: #008CBA!important;
    color: white;
}