/*
the-new-css-reset gets rid of some things, so I am adding them back in
*/

b, strong {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

i, em {
    font-style: italic;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
