#my-items-list {
    display: block;
    margin: 85px 10px 300px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 24fr;
    grid-gap: 0px;
    grid-column-gap: 0px;
    max-width: 980px;
    margin: 0 0 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #dddddd;
}

.subitem {
    grid-column-end: 40;
    margin: 0;
    padding: 5px 3px;
    border: 1px solid #ffffff;
    overflow-wrap: anywhere;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-height: 32px;
}


.subitem-redacted {
    background-color: #cccccc;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 8px;
    box-sizing: border-box;
    line-height: 5px;
    min-height: 0px;
}

.subitem-action { /* TODO rename to subitem-selected */
    border: 1px solid black;
    cursor: text;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.subitem-editing {
    z-index: 1;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.subitem-outline-slot {
    margin: 0 0 10px;
    width: 20px;
}

.subitem-todo-or-done-slot {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 20px;
}

.subitem-list-bulleted-slot {
    margin: 6px;
    width: 10px;
}

.subitem-list-numbered-slot {
    margin: 6px;
    width: 20px;
    text-align: right;
}

.subitem-first {
    font-size: 120%;
}

.arrow {
    opacity: 0.3;
    width: 32px;
    margin-top: 4px;
    margin-left: 5px;
}

.arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.redacted {
    opacity: 0.3;
}

.citation {
    background-color: #ffefd5;
    border: 1px solid #ffa07a;
    font-style: italic;
}

.copyable-clicked {
    background-color: #e0e0e0;
}

