.tags-bar {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 5px;
    margin: 10px 10px 10px 23px;
}

.tags-bar ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000099;
    opacity: 0.3; /* Firefox */
}

.tags-bar ::-webkit-input-placeholder {
    color: #999999;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

.tags-bar :-moz-placeholder { /* Firefox 18- */
    color: #999999;
    opacity: 1 !important;
}

.tags-bar ::-moz-placeholder {  /* Firefox 19+ */
    color: #999999;
    opacity: 1 !important;
}

.tags-bar {
    width: 58ch;
}

input:disabled {
  background-color: grey;
}

.editor-button {
    /* background-color: #4CAF50; */
    background-color: #999999;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.4s;
    width: 30px;
    height: 30px;
}

.editor-button:hover {
    background-color: #45a049;
}

.editor-button.bold {
    font-weight: bold;
}

.editor-button.italic {
    font-style: italic;
}

.editor-button.underline {
    text-decoration: underline;
}
