<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- No-cache headers for development -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>${page_title}</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico?v=${asset_version}">
    <link rel="stylesheet" href="/static/css/main.css?v=${asset_version}">
    <link rel="stylesheet" href="/static/css/forms.css?v=${asset_version}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.css" integrity="sha384-Wsr4Nh3yrvMf2KCebJchRJoVo1gTU6kcP05uRSh5NV3sj9+a8IomuJoQzf3sMq4T" crossorigin="anonymous">
</head>
<body>
    ${self.body()}
    <script>
        window.__METALIST_RUNTIME__ = {
            startupAnimationEnabled: ${'true' if startup_animation_enabled else 'false'}
        };
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.js" integrity="sha384-+W9OcrYK2/bD7BmUAk+xeFAyKp0QjyRQUCxeU31dfyTt/FrPsUgaBTLLkVf33qWt" crossorigin="anonymous"></script>
    <script src="/static/js/vendor/markdown-it.min.js?v=${asset_version}"></script>
    <script type="module" src="/static/js/main.js?v=${asset_version}"></script>
</body>
</html>
