<%inherit file="base.html"/>

<div class="global-controls">
    <button class="menu-button interactive">≡</button>
    <button class="settings-button interactive">⚙️</button>
</div>
<div id="app">
    <div class="container">
        <div class="controls">
            <button class="add-note interactive">+</button>
            <input type="text" id="search-input" class="search-input interactive" placeholder="Search notes...">
            <button id="trash-can" class="trash-can interactive" draggable="false">🗑️</button>
        </div>
        <div id="notes-container">
            <%include file="notes_list.html"/>
        </div>
    </div>
</div>