<%def name="render_note(note)">
    <div class="note interactive${' editing' if note['flags']['isEditing'] else ''}${' rendered-content' if note['flags']['isRendered'] else ''}" 
         data-note-id="${note['id']}" 
         data-parent-id="${note.get('parent_id', '')}">
        <div class="note-content" contenteditable="true">${note['content'] | n}</div>
        % if note.get('children'):
            <div class="note-children">
                % for child in note['children']:
                    ${render_note(child)}
                % endfor
            </div>
        % endif
    </div>
</%def>

% for note in notes:
    ${render_note(note)}
% endfor